<head>
  <link rel="icon" type="image/x-icon" href="public/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/public/reset.css">
  <link rel="stylesheet" type="text/css" href="/public/style.css">

  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">

  <title>TinyApp</title>
</head>

<body>

  <header>
    <h1>TinyApp</h1>

    <%if(user){%>

    <div id="top-right">
      <div id="userInfo">
        <h5>logged in as:</h5>
        <h4>
          <%= user.id %>
        </h4>
        <h4>
          <%= user.email %>
        </h4>
        <form method="POST" action="/logout">
          <input class="button" type="submit" value="log out">
        </form>
      </div>

    </div>

    <%}else{%>

    <div id="siteLink">
      <a href="../register">register</a>
      <a href="../login">log in</a>
    </div>

    <%}%>
  </header>

  <!-- vies have closed body tag -->