<head>
    <link rel="stylesheet" type="text/css" href="/public/reset.css">
    <link rel="stylesheet" type="text/css" href="/public/style.css">
    <title>TinyApp</title>
</head>
  <body>

<div>
    <h1>TinyApp</h1>

<%if(user){%>
<h2>
  <%= user.id %>
</h2>
<h3>
  <%= user.email %>
</h3>
<form method="POST" action="/logout">
  <input type="submit" value="/logout">
</form>
<%}else{%>

<a href="../register">register</a>
<a href="../login">login</a>

<%}%>
</div>

<!-- vies have closed body tag -->