<%if(username){%>
  <h2><%= username %></h2>
  <form method="POST" action="/logout">
    <input type="submit" value="/logout">
  </form>
<%}else{%>
  <a>Enter a username and password:</a>
  <form method="POST" action="/login">
    <input type="text" name="username">
    <input type="submit" value="sign in">
  </form>
<%}%>