<!DOCTYPE html>
<html lang="en">

<% include partials/_header %>

  <div class="content">

    <%if(user){%>

    <form method="POST" action="/logout">
      <input id="logout" type="submit" value="/logout">
    </form>

    <%}else{%>

    <form class="submission-form" method="POST" action="/login">
      <h3>log in</h3>
      
      &nbsp;
      <h4>Enter email and password</h4>
      &nbsp;
      <input type="email" name="email" placeholder="email@example.com">
      <input type="password" name="password" placeholder="password">
      <button type="submit">log in</button>
    </form>

    <%}%>

  </div>

</body>
</html>