<html lang="en">
<head></head>
<body style="font-size:20px; padding:50px;">

  <%if(users.user_id){%>
  <h2>
    <%= users.user_id %>
  </h2>
  <form method="POST" action="/logout">
    <input type="submit" value="/logout">
  </form>
  <%}else{%>
  <form method="POST" action="/login">
  <a>Enter a email and password:</a>
  <input id="" type="email" name="email" placeholder="email@example.com" style="width: 300px">
  <input id="" type="password" name="password" placeholder="password" style="width: 300px">
  <input type="submit" value="sign in">
  </form>
  <%}%>
</body>

</html>