<!DOCTYPE html>
<html lang="en">

<% include partials/_header %>

  <%if(user){%>

  <form method="POST" action="/logout">
    <input type="submit" value="/logout">
  </form>

  <%}else{%>

  <form method="POST" action="/login" style="margin:150px;">
    <a>Enter a email and password:</a>
    <input type="email" name="email" placeholder="email@example.com">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="log in">
  </form>

  <%}%>

</body>

</html>