<!DOCTYPE html>
<html lang="en">

<!-- _header has open body tag -->
<% include partials/_header %>

  <div class="content">
    <form class="submission-form" action="/register" method="POST">
      <h3>register</h3>
      
      &nbsp;
      <h4>Enter email and password</h4>
      &nbsp;
      <input type="email" name="email" placeholder="email@example.com">
      <input type="password" name="password" placeholder="password">
      <button type="submit">register</button>
    </form>
  </div>

</body>

</html>