<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <% include ./partials/_header.ejs %>
  <ul>
    <li style="list-style-type:none;">ShortURL:<a href="<%= longURL %>">
        <%= shortURL %>
      </a> </li>
      <form method="POST" action="/urls/<%= shortURL %>">
        <input name="newUrl" type="text">
        <input type="submit" value="update">
      </form>
  </ul>

</body>

</html>