<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <% include ./partials/_header.ejs %>
  <ul>
    <li style="list-style-type:none;"><a href="<%= longURL %>">
        <%=addressPrefix%><%= shortURL %>
      </a>(
      <%= longURL %>) </li>
  </ul>
</body>

</html>