<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <% include ./partials/_header.ejs %>
  <ul>
      
      <li style=><a href="<%= longURL %>">
          <%=addressPrefix%><%= shortURL %>
      </a></li>
      
    </ul>
</body>

</html>