html{
  padding:0;
  margin:0;
  font-size:10px; 
}

body{
  padding:50px;
  height: 100%;
  width: 100%;
  font-size:1.5rem; 
}

form {
  margin:150px;
}

input{
  width: 300px;
  cursor: "pointer";
}

h1{
  font-size: 3rem;
}